* {
  margin: 0;
  font-size: 28px;
  font-family: impact;
  background-color: #555;
  text-align: center;
}
header {
  font-size: 150%;
  margin-top: 0.5%;
  margin-bottom: -0.9%;
  background-color: #444;
}
.date {
  margin-top: 0;
  font-size: 50%;
}
p {
  margin-bottom: 2%;
  background-color: #444;
  font-size: 100%;
}
footer {
  color: #006;
  text-align: right;
  margin-right: 0.5%;
  background: 0;
  position: sticky;
  bottom: 0;
}
div {
  margin-right: 10%;
  margin-left: 10%;
}
#head {
  font-size: 400%;
}
#headrest {
  font-size: 250%;
}

#navbar {
  margin: 0;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8% 0.5%;
  text-decoration: none;
  font-size: 60%;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #0000ff;
  color: white;
}
