* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: impact;
  color: #ffffff;
  background-color: #444444
}
.head {
  background-color: #444444;
  color: #ffffff;
  text-align: center;
  font-size: 150px;
  font-family: impact
}
.texthead {
  background-color: #333333;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 50px
}
p {
  margin: 5px
}
.text {
  background-color: #333333;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 10px;
  font-size: 25px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
